In [6]:
%load_ext autoreload
%autoreload 2

The autoreload extension is already loaded. To reload it, use:
  %reload_ext autoreload

In [7]:
from pathlib import Path

import numpy as np
import pandas as pd
from data_encoding import encode_data

In [8]:
THIS_DIR = Path(".").resolve()
ROOT = THIS_DIR.parent.parent.resolve()
DATA_DIR = ROOT / "src" / "data"
BLD_DATA = ROOT / "bld" / "data"
BLD_DATA.mkdir(parents=True, exist_ok=True)

In [27]:
df = pd.read_pickle(BLD_DATA / "clean_phenotypic_data.pkl")
df.head()

,id,stat,sex,age,seas_birth,age_m_birth,age_f_birth,marital_stat,partner,no_bio_children,...,big_five_6,big_five_7,big_five_8,big_five_9,big_five_10,big_five_extraversion,big_five_neuroticism,big_five_conscientiousness,big_five_openness,big_five_agreeableness
0,aagd330,CLINICAL,F,35,Fall,34.0,49.0,Married,yes,0.0,...,1,3,5,4,3,1.5,4.0,3.5,3.5,3.5
1,aaph286,CLINICAL,F,27,Fall,31.0,39.0,Single,no,0.0,...,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>
2,aaru067,CLINICAL,F,58,Winter,25.0,28.0,Married_living_sep,no,0.0,...,3,3,2,3,1,3.0,2.5,2.5,3.0,3.5
5,abuj304,CLINICAL,F,53,Fall,31.0,30.0,Married_living_sep,no,1.0,...,4,4,4,2,4,4.5,3.0,3.0,2.5,4.0
6,achw003,CLINICAL,F,37,Fall,22.0,28.0,Divorced,NaN,2.0,...,5,2,4,2,5,4.5,2.5,3.0,5.0,2.5

In [71]:
test = encode_data(df)
len(test.columns)

227

In [60]:
df["beh"]

0        no
1       NaN
2       NaN
5       NaN
6       NaN
       ...
1781    NaN
1782    NaN
1783    NaN
1784    NaN
1785    yes
Name: beh, Length: 1320, dtype: category
Categories (2, object): ['yes', 'no']

In [ ]:
pd.get_dummies(test["language_skill"])

       good  mother tongue  not sufficient  sufficient
0     False           True           False       False
1     False           True           False       False
2     False           True           False       False
5     False           True           False       False
6     False           True           False       False
...     ...            ...             ...         ...
1781  False           True           False       False
1782  False           True           False       False
1783  False           True           False       False
1784  False           True           False       False
1785  False           True           False       False

[1320 rows x 4 columns]

In [8]:
df = pd.DataFrame(
    {
        "ID": range(1, 11),
        "Name": [f"Person_{i}" for i in range(1, 11)],
        "Score": np.random.uniform(0, 100, 10),  # Random float
        "Category": np.random.choice(["A", "B", "C"], 10),  # Random categorical values
        "Valid": np.random.choice([True, False], 10),  # Random boolean
    }
)
print(df)

   ID       Name      Score Category  Valid
0   1   Person_1  56.418111        A   True
1   2   Person_2  78.937004        A  False
2   3   Person_3  40.256482        C  False
3   4   Person_4  26.410504        C   True
4   5   Person_5  88.917061        C  False
5   6   Person_6  93.375893        A   True
6   7   Person_7  42.053933        C  False
7   8   Person_8  56.127789        C  False
8   9   Person_9  85.695548        C   True
9  10  Person_10  77.827853        C  False