In [1]:
%load_ext autoreload
%autoreload 2

In [21]:
from pathlib import Path

import numpy as np
import pandas as pd
from data_encoding import encode_data

In [22]:
THIS_DIR = Path(".").resolve()
ROOT = THIS_DIR.parent.parent.resolve()
DATA_DIR = ROOT / "src" / "data"
BLD_DATA = ROOT / "bld" / "data"
BLD_DATA.mkdir(parents=True, exist_ok=True)

In [23]:
df = pd.read_pickle(BLD_DATA / "clean_phenotypic_data.pkl")
df.head()

,id,stat,sex,age,seas_birth,age_m_birth,age_f_birth,marital_stat,partner,no_bio_children,...,big_five_6,big_five_7,big_five_8,big_five_9,big_five_10,big_five_extraversion,big_five_neuroticism,big_five_conscientiousness,big_five_openness,big_five_agreeableness
0,aagd330,CLINICAL,F,35,Fall,34.0,49.0,Married,yes,0.0,...,1,3,5,4,3,1.5,4.0,3.5,3.5,3.5
1,aaph286,CLINICAL,F,27,Fall,31.0,39.0,Single,no,0.0,...,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>
2,aaru067,CLINICAL,F,58,Winter,25.0,28.0,Married_living_sep,no,0.0,...,3,3,2,3,1,3.0,2.5,2.5,3.0,3.5
5,abuj304,CLINICAL,F,53,Fall,31.0,30.0,Married_living_sep,no,1.0,...,4,4,4,2,4,4.5,3.0,3.0,2.5,4.0
6,achw003,CLINICAL,F,37,Fall,22.0,28.0,Divorced,NaN,2.0,...,5,2,4,2,5,4.5,2.5,3.0,5.0,2.5

In [36]:
df["partner"].map({"yes": 1, "no": 0}).astype(pd.Int8Dtype())

0          1
1          0
2          0
5          0
6       <NA>
        ...
1781       1
1782       0
1783       0
1784       0
1785       0
Name: partner, Length: 1320, dtype: Int8

In [29]:
test = encode_data(df).head()

In [31]:
test.filter(like="marital_stat").head()

,marital_stat_Married,marital_stat_Single,marital_stat_Married_living_sep,marital_stat_Divorced,marital_stat_Widowed
0,1,0,0,0,0
1,0,1,0,0,0
2,0,0,1,0,0
5,0,0,1,0,0
6,0,0,0,1,0

In [ ]:
df = pd.DataFrame(
    {
        "ID": range(1, 11),
        "Name": [f"Person_{i}" for i in range(1, 11)],
        "Score": np.random.uniform(0, 100, 10),  # Random float
        "Category": np.random.choice(["A", "B", "C"], 10),  # Random categorical values
        "Valid": np.random.choice([True, False], 10),  # Random boolean
    }
)
print(df)