In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
from pathlib import Path

import pandas as pd
from data_cleaning import clean_phenotypic_data

In [3]:
THIS_DIR = Path(".").resolve()
ROOT = THIS_DIR.parent.parent.resolve()
DATA_DIR = ROOT / "src" / "data"
BLD_DATA = ROOT / "bld" / "data"
BLD_DATA.mkdir(parents=True, exist_ok=True)

In [4]:
phenotypic_data = pd.read_csv(
    DATA_DIR / "230614_v6.0" / "230614_v6.0_psycourse_wd.csv", delimiter="\t"
)
phenotypic_data.head()

/var/folders/vq/xvpkchgd1vs2wmk7gr1k4dk40000gn/T/ipykernel_89397/2017322943.py:1: DtypeWarning: Columns (415,467,479,483,495,613,619,621,622,624,625,626,627,630,631,632,633,635,636,640,676,679,682,685,688,691,694,697,700,703,714,717,720,722,723,725,726,728,729,731,732,734,735,737,738,740,741,743,744,746,747,749,750,752,753,755,756,758,759,761,762,764,765,767,768,982,984,988,1012,1028,1034,1036,1038,1048,1052,1062,1064,1070,1076,1078,1080,1114,1120,1128,1167,1173,1174,1175,1176,1177,1178,1179,1180,1181,1185,1186,1187,1189,1194,1199,1201,1220,1223,1226,1229,1232,1235,1238,1240,1241,1243,1244,1246,1247,1249,1250,1251,1252,1253,1254,1255,1256,1257,1258,1259,1260,1261,1263,1264,1266,1269,1272,1275,1276,1278,1545,1547,1551,1575,1585,1591,1597,1599,1601,1609,1611,1615,1625,1627,1633,1637,1639,1641,1677,1683,1691,1728,1730,1736,1737,1738,1739,1740,1741,1743,1744,1748,1749,1750,1753,1756,1757,1762,1764,1784,1787,1790,1793,1796,1799,1802,1804,1805,1807,1808,1810,1811,1813,1814,1815,1816,1817,1818,1819,1820,1821,1822,1823,1824,1825,1826,1827,1828,1829,1830,1831,1832,1833,1834,1835,1836,1837,1838,1839,1840,1841,1842,1843,1844,1845,1846,2108,2114,2132,2140,2154,2160,2164,2168,2172,2174,2176,2178,2184,2188,2196,2198,2202,2204,2206,2238,2240,2246,2254,2306,2313,2314) have mixed types. Specify dtype option on import or set low_memory=False.
  phenotypic_data = pd.read_csv(

,v1_id,v1_stat,v1_center,v1_tstlt,v1_interv_date,v1_sex,v1_age,v1_yob,v1_seas_birth,v1_age_m_birth,...,v3_prot_id,v4_prot_id,v1_ab_prof_id,v2_ab_prof_id,v3_ab_prof_id,v4_ab_prof_id,v1_lip_id,v2_lip_id,v3_lip_id,v4_lip_id
0,aagd330,CLINICAL,16,int31,2017-01-17,F,35,1981,Fall,34.0,...,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN,NaN
1,aaph286,CLINICAL,22,int67,2016-03-30,F,27,1988,Fall,31.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,aaru067,CLINICAL,19,int30,2014-02-07,F,58,1955,Winter,25.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,ablx139,CONTROL,16,int11,2016-12-02,F,28,1988,Spring,28.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Y,NaN,NaN
4,abmk123,CONTROL,16,int11,2016-08-12,F,24,1992,Summer,36.0,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [88]:
phenotypic_data["v1_whoqol_itm21"].dtype

dtype('float64')

In [124]:
cleaned_phenotypic_data = clean_phenotypic_data(phenotypic_data)
cleaned_phenotypic_data.head()

,id,sex,age,seas_birth,age_m_birth,age_f_birth,marital_stat,partner,no_bio_children,no_step_children,...,big_five_6,big_five_7,big_five_8,big_five_9,big_five_10,big_five_extraversion,big_five_neuroticism,big_five_conscientiousness,big_five_openness,big_five_agreeableness
0,aagd330,F,35,Fall,34.0,49.0,Married,yes,0.0,0.0,...,1,3,5,4,3,1.5,4.0,3.5,3.5,3.5
1,aaph286,F,27,Fall,31.0,39.0,Single,no,0.0,0.0,...,NaN,NaN,NaN,NaN,NaN,<NA>,<NA>,<NA>,<NA>,<NA>
2,aaru067,F,58,Winter,25.0,28.0,Married_living_sep,no,0.0,2.0,...,3,3,2,3,1,3.0,2.5,2.5,3.0,3.5
3,ablx139,F,28,Spring,28.0,26.0,Married,yes,0.0,0.0,...,5,2,4,2,4,5.0,2.0,4.0,4.0,3.5
4,abmk123,F,24,Summer,36.0,38.0,Single,no,0.0,0.0,...,4,2,5,2,4,4.5,3.0,5.0,3.0,3.0

In [127]:
cleaned_phenotypic_data["panss_sum_gen"].describe()

count       1576.0
mean     24.985407
std        9.10596
min           16.0
25%           17.0
50%           22.0
75%           31.0
max           74.0
Name: panss_sum_gen, dtype: Float64

In [108]:
123 - 90

33