In [4]:
from pathlib import Path

import pandas as pd

In [ ]:
THIS_DIR = Path(".").resolve()
ROOT = THIS_DIR.parent.resolve()
DATA_DIR = ROOT / "src" / "psycourse_py" / "data"
LIPIDOMICS_DIR = DATA_DIR / "lipidomics"

/Users/anojat/Documents/psycourse/src/psycourse_py/data/lipidomics

In [31]:
sample_description = pd.read_csv(
    LIPIDOMICS_DIR / "sample_description.csv", delimiter=";"
)
matched_peaks = pd.read_csv(LIPIDOMICS_DIR / "matchedpeaks.csv", delimiter=",")
lipid_intensities = pd.read_csv(LIPIDOMICS_DIR / "lipid_intensities.csv", delimiter=",")
annotations = pd.read_csv(LIPIDOMICS_DIR / "annotation.csv", delimiter=",")

In [26]:
sample_description.head()

,ind,sex,age,bmi,diagnosis,Patient_ID,STARLIMS_sic,clinic,year,repeated visit (delete)
0,88,F,42.0,NaN,b1,gxyw282,ouge616,UMG,2012.0,NO
1,35,F,51.0,3.244.672.328,s,qala449,hqed015,UMG,2012.0,YES
2,97,F,28.0,212.585.034,b1,cfci956,fkam270,LMU,2013.0,YES
3,11,F,55.0,2.621.882.086,b1,jhod839,kziq723,UMG,2013.0,NO
4,49,F,24.0,212.585.034,b1,nqem946,aghl776,UMG,2013.0,NO

In [35]:
sample_description.dtypes

ind                          int64
sex                         object
age                        float64
bmi                         object
diagnosis                   object
Patient_ID                  object
STARLIMS_sic                object
clinic                      object
year                       float64
repeated visit (delete)     object
dtype: object

In [27]:
matched_peaks.head()

   Unnamed: 0          CHIN          GER          RUS asinManuscript
0           0   chpeakpos54   gpeakpos75   rpeakpos51      peakpos51
1           1  chpeakpos313  gpeakpos366  rpeakpos201     peakpos201
2           2  chpeakpos378  gpeakpos430  rpeakpos210     peakpos210
3           3  chpeakpos573  gpeakpos641  rpeakpos312     peakpos312
4           4  chpeakpos591  gpeakpos654  rpeakpos320     peakpos320

In [36]:
matched_peaks.dtypes

Unnamed: 0         int64
CHIN              object
GER               object
RUS               object
asinManuscript    object
dtype: object

In [29]:
lipid_intensities

,originalMS#,gpeakpos75,gpeakpos366,gpeakpos430,gpeakpos641,gpeakpos654,gpeakpos721,gpeakpos1549,gpeakpos1999,gpeakpos2041,...,gpeakneg5948,gpeakneg5989,gpeakneg5990,gpeakneg6009,gpeakneg6017,gpeakneg6039,gpeakneg6041,gpeakneg6049,gpeakneg6179,gpeakneg6243
0,88,20.010132,23.737193,20.515440,19.896349,20.463760,18.106392,21.021372,19.813893,17.128010,...,20.226886,18.759335,17.025329,21.324577,22.273666,19.997418,17.379238,20.965021,19.558838,23.912203
1,35,20.970653,22.350294,21.841468,18.469919,21.225256,18.825162,19.852056,19.593483,17.184600,...,19.182669,20.071385,16.779131,21.727323,22.571511,20.219298,18.526277,20.914076,18.491121,22.872198
2,97,20.230461,22.168165,21.080258,17.555959,21.735137,20.556331,19.739518,18.459899,17.790985,...,20.026975,19.871664,18.378659,22.762373,22.965926,20.869206,18.382267,21.287581,19.392318,22.591559
3,11,20.369300,25.555585,21.372413,19.436745,20.993355,20.262328,21.049905,18.051902,17.532557,...,19.854519,19.044866,17.495501,22.429385,23.331532,20.304773,18.193191,21.373093,18.262589,23.165153
4,49,20.663592,23.165646,21.275192,19.593324,21.112361,20.037621,18.963551,18.606627,17.680726,...,20.515241,19.222110,16.045029,23.330734,23.590012,20.229432,17.964824,22.645571,19.073267,22.836274
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754,985,20.688943,23.498907,21.653192,20.598327,21.622449,19.845434,20.417449,17.737270,16.117879,...,19.574582,19.071444,17.574223,23.502094,23.840568,20.548831,17.948143,22.646340,18.600169,22.738894
755,989,20.720792,23.424420,21.566624,18.784941,21.387331,19.750504,20.638996,18.193023,17.706718,...,19.573356,19.546061,17.609062,22.902518,23.336611,20.251979,17.857960,22.038750,18.009683,22.508738
756,998,20.990500,23.998636,21.926036,19.258090,21.886556,19.985877,20.186578,19.450299,18.452317,...,20.108513,19.421757,17.910703,21.821249,22.994454,20.348566,18.138418,20.867264,19.650337,23.025880
757,980,21.099667,23.646367,21.763161,19.839383,20.600685,19.376180,20.618615,20.492938,18.282796,...,20.685433,17.980344,17.355729,22.709611,23.803293,20.454478,17.801180,21.791065,17.999105,23.416695
758,949,20.836052,22.889142,21.266929,18.822858,21.712093,19.516723,20.328686,20.131753,18.766967,...,21.003141,19.759057,17.641088,21.746348,23.019359,20.498639,17.846445,21.579745,17.987787,23.051780

In [32]:
annotations.head()

            GER Lipid class Lipid species
0  gpeakpos7470         TAG      TAG 40:1
1  gpeakpos7514         TAG      TAG 40:0
2  gpeakpos7730         TAG      TAG 41:1
3  gpeakpos7769         TAG      TAG 41:0
4  gpeakpos7961         TAG      TAG 42:2

In [37]:
annotations["Lipid species"].unique()

array(['TAG 40:1', 'TAG 40:0', 'TAG 41:1', 'TAG 41:0', 'TAG 42:2',
       'TAG 42:1', 'TAG 42:0', 'TAG 43:1', 'TAG 44:2', 'TAG 44:1',
       'TAG 44:0', 'TAG 45:2', 'TAG 46:4', 'TAG 46:3', 'TAG 46:2',
       'TAG 46:1', 'TAG 46:0', 'TAG 47:3', 'TAG 47:2', 'TAG 47:1',
       'TAG 48:5', 'TAG 48:4', 'TAG 48:3', 'TAG 48:1', 'TAG 48:0',
       'TAG 49:4', 'TAG 49:3', 'TAG 49:1', 'TAG 49:0', 'TAG 50:6',
       'TAG 50:5', 'TAG 50:4', 'TAG 50:3', 'TAG 50:2', 'TAG 50:1',
       'TAG 50:0', 'TAG 51:5', 'TAG 51:4', 'TAG 51:3', 'TAG 51:2',
       'TAG 52:7', 'TAG 51:0', 'TAG 52:6', 'TAG 52:5', 'TAG 52:4',
       'TAG 52:3', 'TAG 52:2', 'TAG 52:1', 'TAG 53:6', 'TAG 53:4',
       'TAG 53:3', 'TAG 54:6', 'TAG 54:5', 'TAG 54:4', 'TAG 54:3',
       'TAG 54:2', 'TAG 55:8', 'TAG 55:7', 'TAG 55:6', 'TAG 55:5',
       'TAG 56:9', 'TAG 56:7', 'TAG 56:6', 'TAG 56:5', 'TAG 56:4',
       'TAG 57:8', 'TAG 57:7', 'TAG 58:10', 'TAG 58:9', 'TAG 58:8',
       'TAG 58:3', 'CAR 10:3', 'CAR 10:2', 'CAR 10:1', 'CAR 10:0',
       'CAR 11:1', 'CAR 12:2', 'CAR 12:0', 'CAR 13:1', 'CAR 13:0',
       'CAR 14:2', 'CAR 14:1', 'CAR 14:0', 'CAR 16:2', 'CAR 16:1',
       'CAR 16:0', 'CAR 18:2', 'CAR 18:1', 'CAR 18:0', 'CE 18:3',
       'CE 18:2', 'CE 20:4', 'CE 20:3', 'CE 22:6', 'CE 22:5',
       'LPC_P 18:1', 'LPC_P 16:0', 'LPC_O 16:0', 'LPC_O 18:1',
       'LPC_O 18:0', 'LPC_O 22:1', 'LPC_O 24:1', 'LPC_O 24:0',
       'LPC_O 26:1', 'PC_P 32:1', 'PC_P 32:0', 'PC_P 34:3', 'PC_P 34:2',
       'PC_P 34:1', 'PC_P 34:0', 'PC_P 35:2', 'PC_P 36:5', 'PC_P 36:2',
       'PC_P 36:1', 'PC_P 37:4', 'PC_P 37:1', 'PC_P 38:6', 'PC_P 38:5',
       'PC_P 38:4', 'PC_P 40:7', 'PC_P 40:5', 'PC_P 40:3', 'PC_P 42:5',
       'PC_P 42:3', 'PC_P 44:7', 'PC_P 44:6', 'PC_P 44:5', 'PC_P 44:3',
       'PC_P 46:8', 'PC_O 32:0', 'PC_O 34:2', 'PC_O 34:1', 'PC_O 34:0',
       'PC_O 36:4', 'PC_O 36:2', 'PC_O 36:1', 'PC_O 37:4', 'PC_O 38:5',
       'PC_O 38:4', 'PC_O 38:3', 'PC_O 38:2', 'PC_O 40:7', 'PC_O 40:5',
       'PC_O 40:4', 'PC_O 40:3', 'PC_O 42:7', 'PC_O 42:6', 'PC_O 42:5',
       'PC_O 42:4', 'PC_O 42:3', 'PC_O 42:2', 'PC_O 44:8', 'PC_O 44:7',
       'PC_O 44:4', 'PC_O 46:8', 'PC_O 46:7', 'PC_O 46:6', 'PC_O 46:5',
       'dCer 32:1', 'dCer 34:2', 'dCer 34:1', 'dCer 36:2', 'dCer 36:1',
       'dCer 38:1', 'dCer 40:3', 'dCer 40:2', 'dCer 40:1', 'dCer 41:1',
       'dCer 42:4', 'dCer 42:3', 'dCer 42:2', 'dCer 42:1', 'dCer 43:3',
       'dCer 43:2', 'dCer 43:1', 'dCer 44:2', 'PC 30:1', 'PC 30:0',
       'PC 32:2', 'PC 32:1', 'PC 32:0', 'PC 33:2', 'PC 33:1', 'PC 33:0',
       'PC 34:4', 'PC 34:3', 'PC 34:2', 'PC 34:1', 'PC 34:0', 'PC 35:4',
       'PC 35:3', 'PC 35:2', 'PC 35:1', 'PC 36:5', 'PC 36:4', 'PC 36:3',
       'PC 36:2', 'PC 36:1', 'PC 36:0', 'PC 37:5', 'PC 37:2', 'PC 38:5',
       'PC 38:4', 'PC 38:3', 'PC 38:2', 'PC 38:1', 'PC 39:4', 'PC 39:3',
       'PC 40:5', 'PC 40:4', 'PC 40:3', 'PC 40:2', 'PC 42:9', 'PC 42:6',
       'PC 42:5', 'PC 42:4', 'dSM 30:1', 'dSM 32:2', 'dSM 32:0',
       'dSM 33:2', 'dSM 33:1', 'dSM 34:3', 'dSM 34:2', 'dSM 34:1',
       'dSM 35:2', 'dSM 35:1', 'dSM 36:4', 'dSM 36:3', 'dSM 36:2',
       'dSM 36:1', 'dSM 37:2', 'dSM 38:3', 'dSM 38:2', 'dSM 39:2',
       'dSM 39:1', 'dSM 40:3', 'dSM 40:2', 'dSM 41:3', 'dSM 41:2',
       'dSM 42:5', 'dSM 42:4', 'dSM 42:3', 'dSM 42:2', 'dSM 43:2',
       'dSM 44:5', 'dSM 44:4', 'dSM 44:3', 'dSM 44:2', 'FA 8:0',
       'FA 10:3', 'FA 10:2', 'FA 10:1', 'FA 11:1', 'FA 12:3', 'FA 12:2',
       'FA 12:1', 'FA 12:0', 'FA 13:1', 'FA 13:0', 'FA 14:2', 'FA 14:1',
       'FA 14:0', 'FA 15:1', 'FA 16:2', 'FA 16:1', 'FA 16:0', 'FA 17:2',
       'FA 17:1', 'FA 17:0', 'FA 18:4', 'FA 18:3', 'FA 18:2', 'FA 18:1',
       'FA 19:1', 'FA 20:5', 'FA 20:4', 'FA 20:3', 'FA 20:2', 'FA 20:1',
       'FA 21:1', 'FA 22:6', 'FA 22:5', 'FA 22:3', 'FA 22:2', 'FA 22:1',
       'FA 23:1', 'FA 23:0', 'FA 24:5', 'FA 24:4', 'FA 24:3', 'FA 24:2',
       'FA 24:1', 'FA 25:3', 'FA 25:2', 'FA 25:1', 'FA 25:0', 'FA 26:5',
       'FA 26:4', 'FA 26:2', 'FA 26:1', 'FA 27:4', 'FA 27:3', 'FA 28:4',
       'PE_P 36:3', 'PE_P 38:6', 'PE_P 40:8', 'PE_P 40:7', 'PE_P 44:8',
       'PE_P 34:2', 'PE_P 34:1', 'PE_P 35:2', 'PE_P 36:5', 'PE_P 36:4',
       'PE_P 36:2', 'PE_P 37:6', 'PE_P 37:5', 'PE_P 37:4', 'PE_P 38:5',
       'PE_P 38:4', 'PE_P 38:3', 'PE_P 39:6', 'PE_P 40:6', 'PE_P 40:5',
       'PE_P 40:4', 'PE_P 42:7', 'PE_P 42:5', 'PE_P 44:7', 'LPE 16:1',
       'LPE 16:0', 'LPE 18:3', 'LPE 18:2', 'LPE 18:1', 'LPE 20:5',
       'LPE 20:4', 'LPE 20:3', 'LPE 22:5', 'LPC 14:0', 'LPC 15:0',
       'LPC 16:1', 'LPC 16:0', 'LPC 17:0', 'LPC 18:3', 'LPC 18:2',
       'LPC 18:1', 'LPC 18:0', 'LPC 19:1', 'LPC 19:0', 'LPC 20:5',
       'LPC 20:4', 'LPC 20:2', 'LPC 20:1', 'LPC 20:0', 'LPC 22:6',
       'LPC 22:5', 'LPC 22:4', 'DAG 34:3', 'DAG 34:1', 'DAG 36:5',
       'DAG 36:4', 'DAG 36:3', 'DAG 36:2', 'DAG 36:1', 'PE 34:2',
       'PE 34:1', 'PE 35:2', 'PE 36:5', 'PE 36:4', 'PE 36:3', 'PE 36:2',
       'PE 36:1', 'PE 37:4', 'PE 38:6', 'PE 38:5', 'PE 38:4', 'PE 38:3',
       'PE 40:7', 'PE 40:6', 'PE 40:5', 'PE 40:4'], dtype=object)

In [38]:
cluster_labels = pd.read_csv(
    ROOT / "src" / "psycourse_py" / "Dwyer_PsyCourse_ClusterLabels.csv"
)

In [39]:
cluster_labels.head()

     cases  cluster_label Unnamed: 2
0  aaru067              5        DIS
1  abuj304              2        DIS
2  achw003              1        DIS
3  acok454              4        DIS
4  adrr818              1        DIS

In [56]:
values_list = []
for i in range(1, 6):
    n = cluster_labels["cluster_label"].value_counts()[i]
    values_list.append(n)

sum(values_list)

np.int64(1223)