In [4]:
from pathlib import Path

import pandas as pd

In [ ]:
THIS_DIR = Path(".").resolve()
ROOT = THIS_DIR.parent.resolve()
DATA_DIR = ROOT / "src" / "psycourse_py" / "data"
LIPIDOMICS_DIR = DATA_DIR / "lipidomics"

/Users/anojat/Documents/psycourse/src/psycourse_py/data/lipidomics

In [31]:
sample_description = pd.read_csv(
    LIPIDOMICS_DIR / "sample_description.csv", delimiter=";"
)
matched_peaks = pd.read_csv(LIPIDOMICS_DIR / "matchedpeaks.csv", delimiter=",")
lipid_intensities = pd.read_csv(LIPIDOMICS_DIR / "lipid_intensities.csv", delimiter=",")
annotations = pd.read_csv(LIPIDOMICS_DIR / "annotation.csv", delimiter=",")

In [26]:
sample_description.head()

,ind,sex,age,bmi,diagnosis,Patient_ID,STARLIMS_sic,clinic,year,repeated visit (delete)
0,88,F,42.0,NaN,b1,gxyw282,ouge616,UMG,2012.0,NO
1,35,F,51.0,3.244.672.328,s,qala449,hqed015,UMG,2012.0,YES
2,97,F,28.0,212.585.034,b1,cfci956,fkam270,LMU,2013.0,YES
3,11,F,55.0,2.621.882.086,b1,jhod839,kziq723,UMG,2013.0,NO
4,49,F,24.0,212.585.034,b1,nqem946,aghl776,UMG,2013.0,NO

In [27]:
matched_peaks.head()

   Unnamed: 0          CHIN          GER          RUS asinManuscript
0           0   chpeakpos54   gpeakpos75   rpeakpos51      peakpos51
1           1  chpeakpos313  gpeakpos366  rpeakpos201     peakpos201
2           2  chpeakpos378  gpeakpos430  rpeakpos210     peakpos210
3           3  chpeakpos573  gpeakpos641  rpeakpos312     peakpos312
4           4  chpeakpos591  gpeakpos654  rpeakpos320     peakpos320

In [29]:
lipid_intensities

,originalMS#,gpeakpos75,gpeakpos366,gpeakpos430,gpeakpos641,gpeakpos654,gpeakpos721,gpeakpos1549,gpeakpos1999,gpeakpos2041,...,gpeakneg5948,gpeakneg5989,gpeakneg5990,gpeakneg6009,gpeakneg6017,gpeakneg6039,gpeakneg6041,gpeakneg6049,gpeakneg6179,gpeakneg6243
0,88,20.010132,23.737193,20.515440,19.896349,20.463760,18.106392,21.021372,19.813893,17.128010,...,20.226886,18.759335,17.025329,21.324577,22.273666,19.997418,17.379238,20.965021,19.558838,23.912203
1,35,20.970653,22.350294,21.841468,18.469919,21.225256,18.825162,19.852056,19.593483,17.184600,...,19.182669,20.071385,16.779131,21.727323,22.571511,20.219298,18.526277,20.914076,18.491121,22.872198
2,97,20.230461,22.168165,21.080258,17.555959,21.735137,20.556331,19.739518,18.459899,17.790985,...,20.026975,19.871664,18.378659,22.762373,22.965926,20.869206,18.382267,21.287581,19.392318,22.591559
3,11,20.369300,25.555585,21.372413,19.436745,20.993355,20.262328,21.049905,18.051902,17.532557,...,19.854519,19.044866,17.495501,22.429385,23.331532,20.304773,18.193191,21.373093,18.262589,23.165153
4,49,20.663592,23.165646,21.275192,19.593324,21.112361,20.037621,18.963551,18.606627,17.680726,...,20.515241,19.222110,16.045029,23.330734,23.590012,20.229432,17.964824,22.645571,19.073267,22.836274
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
754,985,20.688943,23.498907,21.653192,20.598327,21.622449,19.845434,20.417449,17.737270,16.117879,...,19.574582,19.071444,17.574223,23.502094,23.840568,20.548831,17.948143,22.646340,18.600169,22.738894
755,989,20.720792,23.424420,21.566624,18.784941,21.387331,19.750504,20.638996,18.193023,17.706718,...,19.573356,19.546061,17.609062,22.902518,23.336611,20.251979,17.857960,22.038750,18.009683,22.508738
756,998,20.990500,23.998636,21.926036,19.258090,21.886556,19.985877,20.186578,19.450299,18.452317,...,20.108513,19.421757,17.910703,21.821249,22.994454,20.348566,18.138418,20.867264,19.650337,23.025880
757,980,21.099667,23.646367,21.763161,19.839383,20.600685,19.376180,20.618615,20.492938,18.282796,...,20.685433,17.980344,17.355729,22.709611,23.803293,20.454478,17.801180,21.791065,17.999105,23.416695
758,949,20.836052,22.889142,21.266929,18.822858,21.712093,19.516723,20.328686,20.131753,18.766967,...,21.003141,19.759057,17.641088,21.746348,23.019359,20.498639,17.846445,21.579745,17.987787,23.051780

In [32]:
annotations.head()

            GER Lipid class Lipid species
0  gpeakpos7470         TAG      TAG 40:1
1  gpeakpos7514         TAG      TAG 40:0
2  gpeakpos7730         TAG      TAG 41:1
3  gpeakpos7769         TAG      TAG 41:0
4  gpeakpos7961         TAG      TAG 42:2